/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  overflow-x: hidden;
}

/* ================================== */
/* MAIN CONTAINER                     */
/* ================================== */

.cards-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 100px 0;

  /* uncomment if you want gradient background */
  /* background: linear-gradient(135deg, #0048ff, #2ab7ff); */
}

/* Wrapper for GSAP pin */
.card-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 420px; /* Urban Hub size */
  overflow: hidden;
}

/* ================================== */
/* CARD                               */
/* ================================== */

.service-card {
  width: 85%;
  max-width: 1150px;
  height: 100%;
  display: flex;

  background:linear-gradient(to right, #30CFD0 0%, #22236c 100%);;
  border-radius: 24px;
  overflow: hidden;

  box-shadow: 0 8px 18px rgba(0,0,0,0.10);
  transform-origin: center;
}

/* IMAGE */
.service-card img {
  width: 48%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, #30CFD0 0%, #22236c 100%);
  color: white;

}

.content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 18px;
}

.content p {
  font-size: 1rem;
  line-height: 1.6;
  color: white;
  margin-bottom: 20px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.pill {
  background: #e5f1ff;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: 600;
  color: #0073e6;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .card-wrapper {
    height: auto;
  }

  .service-card {
    flex-direction: column;
    height: auto;
  }

  .service-card img {
    width: 100%;
    height: 260px;
  }

  .content {
    padding: 30px;
  }
}
