.footer {
  width: 100%;
  padding: 60px 40px;
  background: linear-gradient(135deg, #0b1a2e, #14263f);
  color: white;
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
  /* flex-wrap: nowrap; */
}

/* Footer Columns */
.col {
  width: 28%;
  min-width: 260px;
  
}

/* Logo + Description */
.footer-logo {
  font-size: 26px;
  font-weight: bold;
}

.footer-desc {
  margin-top: 10px;
  line-height: 1.6;
  font-size: 14px;
  color: #c7d3e0;
}

/* Social Icons */
.footer-social {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  position: relative;
  bottom: 20px;

}

.footer-social a {
  color: #00bce8;
  font-size: 26px;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #00bce8;
  transform: scale(1.15);
}

/* Quick Links */
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 8px 0;
}

.footer-links a {
  color: #cbd4df;
  font-size: 15px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #00bce8;
  margin-left: 4px;
}
.footer-right {
  width: 500px;
  margin-right: 40px;
padding-right: 20px;
}

/* Animated Maps Wrapper: Glassmorphism */
.map-glass {
  background: rgba(255, 255, 255, 0.06);
  display: flex;
  justify-content: center;
  backdrop-filter: blur(6px);
  padding-right: 20px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.1);
  position: relative;
  height: 200px;
  overflow: hidden;
  width: 500px;   /* increase as much as you want */
  margin-left: -20px; /* adjust the value as needed */

}


/* State Animation */
.state-box {
  position: absolute;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
  width: 100%;
  text-align: center  ;
}

.state-box.active {
  opacity: 1;
  transform: translateY(0);
}

/* State Title */
.state-title {
  color: #46c2ff;
  font-size: 20px;
  margin-bottom: 10px;
}

/* District Cards */
.district-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.district-card {
  width: 150px;
  background: rgba(0,0,0,0.35);
  border-radius: 10px;
  padding: 6px;
  text-align: center;
  box-shadow:
    0 0 10px rgba(0, 188, 232, 0.2),
    inset 0 0 6px rgba(255,255,255,0.1);
    height: 140px;
}

.district-name {
  font-size: 13px;
  margin-bottom: 4px;
  color: #d9f3ff;
}

/* Maps */
.map-frame {
  width: 100%;
  height: 100px;
  border: none;
  border-radius: 8px;
}

/* WhatsApp Floating */
.whatsapp-float {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #25d366;
  color: white;
  padding: 14px;
  border-radius: 50%;
  font-size: 28px;
  z-index: 1000;
  transition: 0.3s;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}
